*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    /* height: 100vh; */
    justify-items: center;
    align-items: center;
}
video{
    display: none;
}
canvas{
    margin: auto;
}
h2, span{
    padding: 5px;
}
.slidecontainer{
    padding: 10px;

}
.container{
    width: 100%;
}